USE [HotelReserv]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 2017-11-08 1:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] NOT NULL,
	[CountryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2017-11-08 1:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[StreetNumber] [varchar](10) NOT NULL,
	[StreetName] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Province] [varchar](50) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[PostalCode] [varchar](10) NOT NULL,
	[PhoneNumber] [varchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[CreditCardType] [varchar](50) NOT NULL,
	[CreditCardNumber] [varchar](50) NOT NULL,
	[CreditCardName] [varchar](50) NOT NULL,
	[ExpirationDate] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 2017-11-08 1:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[NumberOfRoom] [int] NOT NULL,
	[NumberOfGuest] [int] NOT NULL,
	[Cid] [int] NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State]    Script Date: 2017-11-08 1:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[CountryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Country] ([Id], [CountryName]) VALUES (1, N'Canada')
INSERT [dbo].[Country] ([Id], [CountryName]) VALUES (2, N'USA')
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([id], [LastName], [FirstName], [StreetNumber], [StreetName], [City], [Province], [Country], [PostalCode], [PhoneNumber], [Email], [Password], [CreditCardType], [CreditCardNumber], [CreditCardName], [ExpirationDate]) VALUES (1, N'User1', N'User1', N'1234', N'User1', N'Halifax', N'Nova Scotia', N'Canada', N'A2B3C4', N'2898287351', N'user1@gmail.com', N'user1', N'Visa', N'123423', N'User1', N'12/2012')
INSERT [dbo].[Customer] ([id], [LastName], [FirstName], [StreetNumber], [StreetName], [City], [Province], [Country], [PostalCode], [PhoneNumber], [Email], [Password], [CreditCardType], [CreditCardNumber], [CreditCardName], [ExpirationDate]) VALUES (2, N'User3', N'User3', N'1234', N'Streey', N'City', N'Alaska', N'USA', N'A2B3C4', N'1234567890', N'user3@gmail.com', N'user3', N'Visa', N'dbfhdsf', N'sadbhf', N'12/1214')
INSERT [dbo].[Customer] ([id], [LastName], [FirstName], [StreetNumber], [StreetName], [City], [Province], [Country], [PostalCode], [PhoneNumber], [Email], [Password], [CreditCardType], [CreditCardNumber], [CreditCardName], [ExpirationDate]) VALUES (1002, N'Behl', N'Sahil', N'1333', N'South Park St', N'Halifax', N'Nova Scotia', N'Canada', N'B3J2K9', N'2898287351', N'sahil@gmail.com', N'sahil', N'Visa', N'23123123342123232', N'Sahil Behl', N'12/2012')
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([Id], [CheckInDate], [CheckOutDate], [NumberOfRoom], [NumberOfGuest], [Cid]) VALUES (1, CAST(N'2012-12-12' AS Date), CAST(N'2012-12-13' AS Date), 3, 2, 1)
INSERT [dbo].[Reservation] ([Id], [CheckInDate], [CheckOutDate], [NumberOfRoom], [NumberOfGuest], [Cid]) VALUES (1002, CAST(N'2017-10-02' AS Date), CAST(N'2017-10-03' AS Date), 2, 2, 1)
INSERT [dbo].[Reservation] ([Id], [CheckInDate], [CheckOutDate], [NumberOfRoom], [NumberOfGuest], [Cid]) VALUES (1003, CAST(N'2017-10-31' AS Date), CAST(N'2017-11-06' AS Date), 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Reservation] OFF
SET IDENTITY_INSERT [dbo].[State] ON 

INSERT [dbo].[State] ([Id], [State], [CountryName]) VALUES (1, N'Alberta', N'Canada')
INSERT [dbo].[State] ([Id], [State], [CountryName]) VALUES (2, N'British Columbia', N'Canada')
INSERT [dbo].[State] ([Id], [State], [CountryName]) VALUES (3, N'Manitoba', N'Canada')
SET IDENTITY_INSERT [dbo].[State] OFF
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Customer] FOREIGN KEY([Cid])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Customer]
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_State_Country] FOREIGN KEY([CountryName])
REFERENCES [dbo].[Country] ([CountryName])
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_State_Country]
GO
