@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SMUHotel.com</h1>
    <p class="lead">A five star hotel located in downtown halifax.</p>
    <p>@Html.ActionLink("Book", "Create" ,"CustomerInformations",null ,new { @class = "btn btn-success btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>About</h2>
        <p>
            This WebForm is part of our project for 5510 Software Development in Buisness Environment. @Html.ActionLink("More Info", "About", "Home", new { @class = "btn btn-info btn-sm" })<span class="glyphicon glyphicon-chevron-right"></span>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Developed By:-</h2>
        <p>Carlo Carandang</p>
        <p>Sahil Behl</p>
    </div>
  
</div>